@mixin grid-container {
    width: 1000px;
    height: 400px;
    position: fixed;
    top: 100px;
    left: 100px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    justify-items: center;
    align-items: center;
}

@mixin radius {
    border-radius: 50%;
    width: 120px;
    height: 120px;
    margin: -20px;
    background-color: none;
    border: solid 1px #ffffff;
}